nav {
  height: 10%;
  background-color: gray;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

footer {
  height: 10%;
  background-color: gray;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}
