<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    {{template "navbar"}}
    <h1>Hello World</h1>
    {{template "footer"}}
  </body>
</html>
