<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../stylesheets/main.css"
  </head>
  <body>
    {{template "navbar"}}
    {{ range .}}
      <h1>{{ .Add }}</h1>
    {{ end }}
    {{template "footer"}}
  </body>
</html>
