<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{template "navbar"}}
      <form action="signup">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password-first" placeholder="Password">
        <input type="text" name="password-confirm" placeholder="Confirm Password">
        <input type="submit" value="Sign Up">
      </form>
    {{template "footer"}}
  </body>
</html>
