<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
  </head>
  <body>
    {{template "navbar"}}
      <form method="POST" action="/signup/create">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="text" name="password-confirm" placeholder="Confirm Password">
        <input type="text" name="first-name" placeholder="First Name">
        <input type="text" name="last-name" placeholder="Last Name">
        <input type="submit" value="Sign Up">
      </form>
    {{template "footer"}}
  </body>
</html>
