<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{template "navbar"}}
    {{range .}}
      <p>{{.FirstName}} {{.LastName}}</p>
    {{end}}
    {{template "footer"}}
  </body>
</html>
